apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: gitea
helmCharts:
  - name: gitea
    repo: "oci://docker.gitea.com/charts/"
    version: 12.5.0 # https://gitea.com/gitea/helm-chart/releases
    releaseName: gitea
    namespace: gitea
    valuesFile: values.yaml
    includeCRDs: true
  - name: actions
    repo: "oci://docker.gitea.com/charts/"
    version: 0.0.3 # https://gitea.com/gitea/helm-chart/releases
    releaseName: actions
    namespace: gitea
    valuesFile: values-actions.yaml
    includeCRDs: true
resources:
  - gitea-pvc.yaml
  - gitea-pv.yaml
  - httproute.yaml

patches:
  # The gitea-act-actions runner and gitea-valkey-cluster helm charts produce StatefulSets
  # where the volumeClaimTemplates are missing apiVersion and kind.
  # This causes ArgoCD to flag the application as out of sync because it expects
  # these fields to be present in the live cluster state.
  - target:
      kind: StatefulSet
      name: actions-act-runner
    patch: |-
      - op: add
        path: /spec/volumeClaimTemplates/0/apiVersion
        value: v1
      - op: add
        path: /spec/volumeClaimTemplates/0/kind
        value: PersistentVolumeClaim
  - target:
      kind: StatefulSet
      name: gitea-valkey
    patch: |-
      - op: add
        path: /spec/volumeClaimTemplates/0/apiVersion
        value: v1
      - op: add
        path: /spec/volumeClaimTemplates/0/kind
        value: PersistentVolumeClaim
