apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
helmCharts:
  - name: loki
    repo: https://grafana.github.io/helm-charts
    releaseName: loki
    namespace: loki-stack
    version: 5.48.0
    valuesFile: loki-values.yaml
  - name: promtail
    repo: https://grafana.github.io/helm-charts
    releaseName: promtail
    namespace: loki-stack
    version: 6.15.5
    valuesFile: promtail-values.yaml
resources:
  - namespace.yaml
