apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
helmCharts:
  - name: loki-stack
    repo: https://grafana.github.io/helm-charts
    releaseName: loki-stack
    namespace: loki-stack
    version: 2.10.2
    valuesFile: values.yaml
resources:
  - namespace.yaml

# Fixes statefulset sync issue in argocd.
patches:
  - target:
      group: apps
      version: v1
      kind: StatefulSet
      name: loki-stack
      namespace: loki-stack
    patch: |-
      - op: add
        path: /spec/volumeClaimTemplates/0/apiVersion
        value: v1
      - op: add
        path: /spec/volumeClaimTemplates/0/kind
        value: PersistentVolumeClaim
