deploymentMode: SingleBinary

loki:
  auth_enabled: false

  commonConfig:
    replication_factor: 1
  schemaConfig:
    configs:
      - from: "2024-01-01"
        store: tsdb
        object_store: filesystem
        schema: v13
        index:
          prefix: loki_index_
          period: 24h
  storage:
    type: filesystem

  limits_config:
    retention_period: 168h

  compactor:
    working_directory: /var/loki/compactor
    delete_request_store:
      store: filesystem
    retention_enabled: true

monitoring:
  selfMonitoring:
    enabled: false
    grafanaAgent:
      installOperator: false
  lokiCanary:
    enabled: false

test:
  enabled: false

singleBinary:
  replicas: 1
  persistence:
    enabled: true
    storageClassName: crobasaurusrex-nfs
    size: 10Gi

read:
  replicas: 0
write:
  replicas: 0
backend:
  replicas: 0
