loki:
  enabled: true
  persistence:
    enabled: true
    accessModes:
      - ReadWriteOnce
    size: 10Gi
    storageClassName: crobasaurusrex-nfs

promtail:
  enabled: true

grafana:
  enabled: false

prometheus:
  enabled: false
