loki:
  enabled: true
  config:
    table_manager:
      retention_deletes_enabled: true
      retention_period: 72h
  persistence:
    enabled: true
    accessModes:
      - ReadWriteOnce
    size: 10Gi
    storageClassName: crobasaurusrex-nfs

promtail:
  enabled: true

grafana:
  enabled: false

prometheus:
  enabled: false
