apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kube-prometheus-stack
helmCharts:
  - includeCRDs: true
    name: kube-prometheus-stack
    repo: oci://ghcr.io/prometheus-community/charts
    releaseName: kube-prometheus-stack
    valuesFile: values.yaml
    version: 80.13.3
resources:
  - namespace.yaml
