namespaceOverride: kube-prometheus-stack

alertmanager:
  # Create HTTPRoute for alertmanager
  route:
    main:
      enabled: true
      hostnames:
        - alertmanager.crobasaurusrex.ryanbeales.com
        - alertmanager.crobceratops.ryanbeales.com
      parentRefs:
        - group: gateway.networking.k8s.io
          kind: Gateway
          name: crobceratops-gateway
          namespace: gateways
        - group: gateway.networking.k8s.io
          kind: Gateway
          name: crobasaurusrex-gateway
          namespace: gateways

grafana:
  namespaceOverride: kube-prometheus-stack
  route:
    main:
      enabled: true
      hostnames:
        - grafana.crobasaurusrex.ryanbeales.com
        - grafana.crobceratops.ryanbeales.com
      parentRefs:
        - group: gateway.networking.k8s.io
          kind: Gateway
          name: crobceratops-gateway
          namespace: gateways
        - group: gateway.networking.k8s.io
          kind: Gateway
          name: crobasaurusrex-gateway
          namespace: gateways

  defaultDashboardsTimezone: America/Vancover
  defaultDashboardsEditable: true
  grafana.ini:
    server:
      domain: grafana.crobasaurusrex.ryanbeales.com
      root_url: https://grafana.crobasaurusrex.ryanbeales.com
    users:
      allow_sign_up: false
      auto_assign_org: true
      auto_assign_org_role: Viewer
      default_theme: dark

  admin:
    existingSecret: grafana-admin-credentials
    userKey: admin-user
    passwordKey: admin-password

# Forcing the namespace fix - https://github.com/prometheus-community/helm-charts/issues/1438
prometheusOperator:
  tls:
    enabled: false

# Prometheus section.
prometheus:
  # Create HTTPRoute for prometheus
  route:
    main:
      enabled: true
      hostnames:
        - prometheus.crobasaurusrex.ryanbeales.com
        - prometheus.crobceratops.ryanbeales.com
      parentRefs:
        - group: gateway.networking.k8s.io
          kind: Gateway
          name: crobceratops-gateway
          namespace: gateways
        - group: gateway.networking.k8s.io
          kind: Gateway
          name: crobasaurusrex-gateway
          namespace: gateways

  # Prometheus configuration to pass to prometheus-operator
  prometheusSpec:
    replicas: 1

    # Resource allocation for prometheus pods
    resources:
      limits:
        memory: 4Gi
      requests:
        cpu: 1000m
        memory: 2Gi

    # Keep disk usage low for now.
    retention: 3d

    storageSpec:
      volumeClaimTemplate:
        spec:
          accessModes:
            - ReadWriteOnce
          resources:
            requests:
              storage: 10Gi
          storageClassName: crobasaurusrex-nfs

    # Allow this prometheus instance to consume all rules and monitors
    podMonitorSelectorNilUsesHelmValues: false
    podMonitorSelector: {}
    probeSelectorNilUsesHelmValues: false
    probeSelector: {}
    ruleSelectorNilUsesHelmValues: false
    ruleSelector: {}
    scrapeConfigSelector:
      matchLabels: {}
    serviceMonitorSelectorNilUsesHelmValues: false
    serviceMonitorSelector: {}

thanosRuler:
  enabled: false

kubeEtcd:
  enabled: false

kubeScheduler:
  enabled: false

kubeControllerManager:
  enabled: false

kubeStateMetrics:
  namespaceOverride: kube-prometheus-stack

kube-state-metrics:
  namespaceOverride: kube-prometheus-stack

nodeExporter:
  namespaceOverride: kube-prometheus-stack

prometheus-node-exporter:
  namespaceOverride: kube-prometheus-stack
  # Disables running on the WSL2 node, it won't start here due to a mount issue.
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
              - key: kubernetes.io/hostname
                operator: NotIn
                values:
                  - crobputer
